/* @theme customVer03.0-invert */
/* @auto-scaling true */
/* @size 16:9 1280px 720px */

@import "customVer03.0";

:root {
  /* dark theme */
  --h1-color: #cee7ff;
  --header-footer-color: white;
  --heading-strong-color: #7bf;
  --paginate-color: #999;
  --white: #202020;
  --blue-grey: #181717;
  --block-shadow-color: #111111;
  --blue: #13216b;
  --dark-blue: #2121b6;
  --white-grey: #eceff4;
  --black: #383838;
  --sky-blue: #0f508b;
  --light-green: rgba(18, 44, 9, 1);
  --dark-green: rgba(43, 93, 10, 1);
  --light-red: rgba(99, 8, 8, 0.3);
  --dark-red: rgb(155, 26, 26, 1);
  --grey: rgba(128, 128, 128, 0.7);
}

section {
  color: var(--h1-color);
}
