/* @theme customVer03.0 */
/* @auto-scaling true */
/* @size 16:9 1280px 720px */
/* cspell: words xsmall xxsmall xxxsmall xlarge marpit */

@import "default";

:root {
  /* color */
  --blue: #1c37c0;
  --sky-blue: #1f75c5;
  --dark-blue: #262686;
  --white-grey: #eceff4;
  --blue-grey: #e9e9f3;
  --white: #ffffff;
  --black: #202020;
  --grey: grey;
  --light-green: rgba(232, 238, 230, 1);
  --dark-green: rgba(43, 93, 10, 1);
  --light-red: rgba(221, 144, 144, 0.3);
  --dark-red: rgba(188, 33, 34, 1);
  /* section */
  --width: 1280px;
  --height: 720px;
  --section-background-color: var(--white);
  /* header (eg: title) */
  --header-height: 36px;
  --header-font-size: 16pt;
  --header-color: #ffffff;
  --header-background-color: var(--black);
  /* footer (eg: author) */
  --footer-height: 36px;
  --footer-font-size: 16pt;
  --footer-color: #ffffff;
  --footer-background-color: var(--blue);
  /* heading 1 */
  --h1-height: 80px;
  --h1-font-size: 43px; /* 32pt */
  --h1-color: #ffffff;
  /* --h1-background-color: #1f38c5; */
  --h1-background-color: var(--blue);
  /* heading 2 */
  --h2-height: 72px;
  --h2-font-size: 35px; /* 26pt */
  --h2-color: #ffffff;
  --h2-background-color: var(--sky-blue);
  /* main content */
  --content-height: calc(
    var(--height) - var(--h1-height) - var(--h2-height) - var(--header-height)
  );
  --content-font-size: 29px; /* 22pt */
  --content-line-height: calc(var(--content-height) / 13); /* 22pt */
  --content-x-padding: calc(var(--content-font-size) / 2);
  --content-y-padding: calc(var(--content-line-height) / 2);
  --content-height-wo-padding: calc(
    var(--height) -
      (
        var(--h1-height) + var(--h2-height) + var(--content-y-padding) * 2 +
          var(--header-height)
      )
  );
  /* Definition block */
  --block-border-radius: 10px;
  --block-shadow-color: #9a9a9a;
  /* others */
}

/* Template Settings */

section {
  width: var(--width);
  height: var(--height);
  background-color: var(--section-background-color);
  align-content: start;
  overflow: clip;
}

section::after {
  overflow: clip;
}

header {
  /* container */
  position: absolute;
  background-color: var(--header-background-color);
  top: calc(var(--height) - var(--header-height));
  left: 0;
  padding-right: calc(var(--footer-font-size) * 0.5);
  /* size */
  width: calc(var(--width) * 0.5 - var(--footer-font-size) * 0.5 + 0.1px);
  height: var(--header-height);
  /* text */
  color: var(--header-color);
  font-size: var(--header-font-size);
  text-align: right;
  line-height: var(--header-height);
}

footer {
  /* container */
  position: absolute;
  background-color: var(--footer-background-color);
  top: calc(var(--height) - var(--footer-height));
  left: calc(var(--width) * 0.5);
  /* size */
  width: calc(var(--width) * 0.5 + 0.1px);
  height: var(--header-height);
  /* text */
  color: var(--footer-color);
  font-size: var(--footer-font-size);
  text-align: left;
  line-height: var(--footer-height);
  text-indent: calc(var(--footer-font-size) * 0.5);
}

section::after {
  /* container */
  position: absolute;
  top: calc(var(--height) - var(--footer-height));
  left: calc(-0.5 * var(--footer-font-size));
  /* size */
  width: 100%;
  /* text */
  color: var(--footer-color);
  font-size: var(--footer-font-size);
  text-align: right;
  line-height: var(--footer-height);
  /* content: pagination */
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
}

h1:nth-of-type(1) {
  /* container */
  background-color: var(--h1-background-color);
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px;
  margin: 0px;
  /* size */
  width: 100%;
  height: var(--h1-height);
  /* text */
  color: var(--h1-color);
  font-size: var(--h1-font-size);
  line-height: var(--h1-height);
  text-indent: calc(var(--h1-font-size) / 2);
  overflow: visible;
}

h2:nth-of-type(1) {
  /* container */
  background-color: var(--h2-background-color);
  position: absolute;
  top: var(--h1-height);
  right: 0px;
  padding: 0px;
  margin: 0px;
  /* size */
  width: 100%;
  height: var(--h2-height);
  /* text */
  color: var(--h2-color);
  font-size: var(--h2-font-size);
  line-height: var(--h2-height);
  text-align: center;
  overflow: visible;
}

section {
  /* container */
  margin: 0px;
  padding: 0px;
  padding-top: calc(var(--h1-height) + var(--content-y-padding));
  padding-bottom: calc(var(--header-height) + var(--content-y-padding));
  padding-left: var(--content-x-padding);
  padding-right: var(--content-x-padding);
  /* text */
  font-size: var(--content-font-size);
  line-height: var(--content-line-height);
}

/* no-point */
section:has(h2) {
  padding-top: calc(
    var(--h1-height) + var(--h2-height) + var(--content-y-padding)
  );
}

section.two-cols {
  column-count: 2;
  column-gap: var(--content-x-padding);
}

section .same-col {
  break-inside: avoid; /* for two-cols */
}

section.force-two-cols {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: calc(var(--width) - var(--content-x-padding) * 2);
  align-items: start;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: calc(var(--width) / 2 - var(--content-x-padding) * 1.5) calc(
      var(--width) / 2 - var(--content-x-padding) * 1.5
    );
  column-gap: var(--content-x-padding);
}

section.force-two-cols > div,
section.force-two-cols > p {
  /* container */
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  align-items: start;
  /* size */
  width: 100%;
  height: 100%;
  /* text */
  font-size: var(--content-font-size);
  line-height: var(--content-line-height);
  overflow: hidden;
}

/* Component Settings */
section {
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  li,
  li + li,
  ol {
    font-weight: normal;
    font-size: var(--content-font-size);
    line-height: var(--content-line-height);
    margin: 0px;
  }
  h3,
  h4,
  h5,
  h6,
  p {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

/* Custom Class Styles */
section {
  .text-medium {
    p,
    ul,
    li,
    ol {
      font-size: var(--content-font-size);
      line-height: var(--content-line-height);
    }
  }
  .text-small {
    p,
    ul,
    li,
    ol {
      font-size: calc(var(--content-font-size) * 0.857);
      line-height: calc(var(--content-line-height) * 0.857);
    }
  }
  .text-xsmall {
    p,
    ul,
    li,
    ol {
      font-size: calc(var(--content-font-size) * 0.75);
      line-height: calc(var(--content-line-height) * 0.75);
    }
  }
  .text-xxsmall {
    p,
    ul,
    li,
    ol {
      font-size: calc(var(--content-font-size) * 0.5);
      line-height: calc(var(--content-line-height) * 0.5);
    }
  }
  .text-xxxsmall {
    p,
    ul,
    li,
    ol {
      font-size: calc(var(--content-font-size) * 0.4);
      line-height: calc(var(--content-line-height) * 0.4);
    }
  }
  .text-large {
    p,
    ul,
    li,
    ol {
      font-size: calc(var(--content-font-size) * 1.2);
      line-height: calc(var(--content-line-height) * 1.2);
    }
  }
  .text-xlarge {
    p,
    ul,
    li,
    ol {
      font-size: calc(var(--content-font-size) * 1.5);
      line-height: calc(var(--content-line-height) * 1.5);
    }
  }
}

section {
  .align-x-center {
    text-align: center;
  }
  .align-y-center {
    align-self: center;
  }
}

section mjx-container[display="true"] {
  padding: 0px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

/* Footnote */

section blockquote {
  /* bottomに寄せる */
  position: absolute;
  bottom: calc(var(--header-height) + var(--content-y-padding));
  width: calc(var(--width) - var(--content-x-padding) * 2);
  padding: 0px;
  padding-top: 0.25em;
  border-top: solid var(--grey) 1px;
  border-left: none;
  color: var(--grey);
  p {
    /* text x-small */
    font-size: calc(var(--content-font-size) * 0.75);
    line-height: calc(var(--content-line-height) * 0.75);
  }
}

/* Definition Block */
section .block {
  background-color: var(--blue-grey);
  border-radius: var(--block-border-radius);
  box-shadow: var(--block-border-radius) calc(var(--block-border-radius) * 0.5)
    calc(var(--block-border-radius) * 0.5) var(--block-shadow-color);
  padding-left: var(--content-x-padding);
  padding-right: var(--content-x-padding);
  margin-right: calc(var(--block-border-radius)); /* for shadow */
  margin-bottom: calc(
    var(--block-border-radius) + var(--content-y-padding) * 0.5
  ); /* for shadow */
  break-inside: avoid; /* for two-cols */
  /* block y-padding */
  padding-bottom: calc(var(--content-y-padding) * 0.5);
  /* text */
  font-size: var(--content-font-size);
  line-height: var(--content-line-height);
  h3 {
    background-color: var(--dark-blue);
    border-radius: var(--block-border-radius) var(--block-border-radius) 0px 0px;
    padding-left: var(--content-x-padding);
    padding-right: var(--content-x-padding);
    /* reset padding */
    margin-left: calc(var(--content-x-padding) * -1);
    margin-right: calc(var(--content-x-padding) * -1);
    /* block y-padding */
    margin-bottom: calc(var(--content-y-padding) * 0.5);
    /* text */
    color: var(--white-grey);
    font-size: var(--content-font-size);
    line-height: calc(var(--content-line-height) * 1.2);
  }
}

section {
  .block-blue {
    background-color: var(--blue-grey);
    h3 {
      background-color: var(--dark-blue);
    }
  }
  .block-green {
    background-color: var(--light-green);
    h3 {
      background-color: var(--dark-green);
    }
  }
  .block-red {
    background-color: var(--light-red);
    h3 {
      background-color: var(--dark-red);
    }
  }
}

/* Title */

section.title > h1 {
  background-color: var(--h1-background-color);
  top: calc(var(--height) * 0.25);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 25px;
  /* size */
  width: 80%;
  height: auto;
  /* text */
  text-align: center;
}

/* Appendix */
section.appendix h1:nth-of-type(1) {
  background-color: var(--grey);
}

/* Table of Contents */
section.toc {
  ol {
    padding: 0px;
    padding-left: var(--content-x-padding);
    padding-right: var(--content-x-padding);
    /* text */
    font-size: var(--content-font-size);
    line-height: var(--content-line-height);
    /* counter */
    counter-reset: list;
    list-style-type: none;
  }
  ol li {
    position: relative;
    padding: 0px;
    padding-left: calc(var(--content-font-size) * 1.25);
    margin: calc(var(--content-x-padding) * 0.5) 0px;
    /* text */
    font-size: var(--content-font-size);
    line-height: var(--content-line-height);
  }
  li:before {
    position: absolute;
    left: calc(var(--content-font-size) * -0.2);
    background: linear-gradient(338deg, var(--dark-blue), 70%, #6767c4);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: calc(var(--content-font-size) * 0.2);
    top: 50%;
    transform: translateY(-50%);
    /* size */
    width: calc(var(--content-font-size) * 0.9);
    height: calc(var(--content-font-size) * 0.9);
    /* text */
    color: var(--white-grey);
    font-size: calc(var(--content-font-size) * 0.8);
    line-height: calc(var(--content-font-size) * 0.8);
    text-align: center;
    /* counter */
    content: counter(list);
    counter-increment: list;
  }
}
